/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  font-family: "Roboto", sans-serif;
}

main {
  margin-top: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

h1 {
  background-color: #3b3b3b;
  font-weight: 900;
  color: #fff;
  padding: 25px 45px;
  text-transform: capitalize;
  border-radius: 5px;
}

h1 span {
  color: #109dd4;
}

button {
  width: 160px;
  font-weight: 700;
  margin-top: 20px;
  background-color: #fff;
  border: 5px solid #000;
  font-size: 26px;
  padding: 10px 15px;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  color: #fff;
  background: #000;
}
