/* start global rules */

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style-type: none;
}

section {
  padding: 100px 0;
}

:root {
  --clr-bg-primary: #9b59b6;
  --clr-fg-primary: #fff;
}

/* end global rules */

/* global classes */

.sidebar-toggle {
  position: fixed;
  top: 32px;
  right: 48px;
  font-size: 32px;
  background: transparent;
  border-color: transparent;
  color: var(--clr-bg-primary);
  transition: 0.5s;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.sidebar-toggle:hover {
  transform: rotate(-360deg);
}

.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
}

.close-btn:hover {
  transform: rotate(360deg);
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--clr-bg-primary);
  width: 25%;
  transition: 1s ease-in-out;
  transform: translate(-100%);
}

@media (max-width: 960px) {
  .sidebar {
    width: 100%;
  }
}
.show-sidebar {
  transform: translate(0);
}

.links-container {
  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  display: flex;
  justify-items: center;
  flex-direction: column;
  justify-content: center;
}

.links a {
  display: block;
  font-size: 42px;
  font-weight: 900;
  padding: 15px 5px;
  text-transform: capitalize;
  text-align: center;
  transition: 0.5s ease-in-out;
}

.links a:hover {
  padding-left: 45px;
}

/* start social icon */

.social-icons {
  display: flex;
  padding-bottom: 32px;
  margin: 200px auto;
}

.social-icons a {
  font-size: 24px;
  margin: 0 0.5rem;
  color: #fff;
  transition: 0.5s ease-in-out;
}

.social-icons a:hover {
  color: #bbb;
}
/* end social icon */
