* {
  font-family: "Roboto", sans-serif;
}

main {
  margin: auto;
  width: 50%;
  min-height: 100vh;
}

h1 {
  font-size: 75px;
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
}

span {
  display: block;
  text-align: center;
  font-size: 120px;
  font-weight: 900;
  width: 50%;
  margin: auto;
}

p {
  padding: 15px 45px;
  line-height: 30px;
  text-align: center;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 160px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  background-color: #fff;
  border: 2px solid #000;
  font-size: 26px;
  padding: 10px 15px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  color: #fff;
  background: #000;
}
